{% extends "game/index.html" %}
{% load static %}
{% load i18n %}

{% block tournament_game %}
    <!-- Game navigation bar -->
    {% include 'game/header-button-logged.html' %}

    <body>
        <div id="tournament-area">
            <h1 class="text-center">{% translate "Tournament Bracket" %}</h1>
            <div class="bracket">
                <!-- Placeholder for the dynamic tournament bracket -->
                <div class="bracket-round" id="round1">
                    <div class="match">
                        <div class="player" id="player1-1"></div>
                        <div class="player" id="player1-2"></div>
                    </div>
                    <div class="match">
                        <div class="player" id="player1-3"></div>
                        <div class="player" id="player1-4"></div>
                    </div>
                </div>
                <div class="bracket-round" id="round2">
                    <div class="match">
                        <div class="player" id="player2-1"></div>
                        <div class="player" id="player2-2"></div>
                    </div>
                </div>
                <div class="bracket-round" id="round3">
                    <div class="match">
                        <div class="player" id="player3-1"></div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary">{% translate "Start Tournament" %}</button>
        </div>
        <script src="{% static 'js/tournament.js' %}"></script>
    </body>
{% endblock tournament_game %}
